.default-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 28px;
}

.dashboard-page-header-wrapper {
  height: 28px;
  display: flex;
  align-items: center;
}

.dashboard-page-header-wrapper > h2 {
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  padding: var(--gap-xs) var(--gap-md);
}

/* 
----------------------------------------------------------------
-----------------------REVENUE----------------------------------
----------------------------------------------------------------  
*/

/* 
----------------------------------------------------------------
-----------------------REVENUE----------------------------------
----------------------------------------------------------------  
*/

/* .revenue-details-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 28px;
  width: 100%;
}

.revenue-chart-wrapper {
  grid-column-start: 1;
  grid-column-end: 3;
  background: var(--Primary-Light, rgba(247, 249, 251, 1));
  padding: 24px;
  border-radius: var(--gap-xl);
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
}

.dark .revenue-chart-wrapper {
  background: var(--Primary-Light, rgba(255, 255, 255, 0.05));
}

.revenue-chart-header {
  height: 22px;
  display: flex;
  align-items: center;
  gap: var(--gap-xl);
}

.revenue-chart-header > h2 {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  color: var(--black-100, rgba(28, 28, 28, 1));
}

.revenue-chart {
  height: 100%;
} */

/* .revenue-worldwide-header > h2 {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  color: var(--black-100, rgba(28, 28, 28, 1));
}

.dark .revenue-worldwide-header > h2 {
  color: var(--black-100, rgba(255, 255, 255, 1));
}

.dark .revenue-worldwide-wrapper {
  background: var(--Primary-Light, rgba(255, 255, 255, 0.05));
}

.revenue-worldwide-progress-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.revenue-worldwide-progress-wrapper > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.revenue-worldwide-progress-wrapper > div > p {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
} */

/* 
----------------------------------------------------------------
-----------------------SALES------------------------------------
----------------------------------------------------------------  
*/

/* 
----------------------------------------------------------------
-----------------------SALES CHART------------------------------
----------------------------------------------------------------  
*/

/* 
----------------------------------------------------------------
-----------------------CLEAN UPS------------------------------
----------------------------------------------------------------
*/

.info-tile {
  padding: 24px;
  gap: var(--gap-xs);
  border-radius: var(--gap-xl);
  background: var(--Primary-Light, rgba(247, 249, 251, 1));
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
}

.info-header {
  height: 20px;
  display: flex;
  align-items: center;
  gap: var(--gap-xl);
}

.info-header > h2 {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
}

.dark .info-tile {
  background: var(--Primary-Light, rgba(255, 255, 255, 0.05));
}
