.notification-pane-wrapper {
  min-width: 280px;
  padding: var(--gap-2xl);
  border-left: 1px solid var(--black-10, rgba(28, 28, 28, 0.1));
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.notification-panel-header {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}
