.default-page-salesdetails-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 28px;
  width: 100%;
}

.default-page-sale-table-wrapper {
  grid-column-start: 1;
  grid-column-end: 3;
}

.sales-table th {
  color: var(--black-40, rgba(28, 28, 28, 0.4));
}

.dark .sales-table th {
  color: var(--black-40, rgba(255, 255, 255, 0.4));
}

.sales-table th,
td {
  height: 40px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
}

.default-page-sales-chart-wrapper {
  padding: 24px;
  border-radius: var(--gap-xl);
  background: var(--Primary-Light, rgba(247, 249, 251, 1));
  grid-column-start: 3;
  grid-column-end: 3;
  min-width: 250px;
}

.default-page-sales-chart-header {
  height: 20px;
  display: flex;
  align-items: center;
}

.default-page-sales-chart-header > h2 {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  color: var(--black-100, rgba(28, 28, 28, 1));
}

.dark .default-page-sales-chart-header > h2 {
  color: var(--black-100, rgba(255, 255, 255, 1));
}

.sales-chart-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  align-items: start;
}

.sales-chart-details > div {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.sales-chart-details > div > p {
  font-size: 12px;
}
