.metric-tile-wrapper {
  width: 202px;
  height: 112px;
  padding: 24px;
  border-radius: var(--gap-xl);
  background-color: rgba(227, 245, 255, 1);
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  align-items: start;
  justify-content: flex-start;
}

.metric-tile-details-wrapper {
  width: 100%;
  height: 36px;
  border-radius: var(--gap-md);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.metric-tile-value {
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
}

.metric-tile-percentage-wrapper {
  height: 18px;
  gap: var(--gap-xs);
  border-radius: var(--gap-md);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.metric-tile-percentage-wrapper > p {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
}
